@model Projekt.Models.Insurance

@{
    ViewData["Title"] = "Delete";
}

<h1>Smazání</h1>

<h3>Jste si jisti že chcete pojištění smazat?</h3>
<div>
    <h4>Pojištění</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsurancePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsurancePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuredObject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuredObject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuredFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuredFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuredTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuredTo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Vymazat" class="btn btn-danger" /> |
        <a asp-action="Index">Zpět na list</a>
    </form>
</div>
